


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" > <!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://cdn.optimizely.com/js/6878940622.js"></script>
<title>Cheap Domestic Air Tickets, Cheap Domestic Flight Tickets Booking at Cleartrip</title>   <meta name="description" content="Deals on Cheap Domestic Air Tickets Booking in India – Cleartrip.com offers cheap air tickets booking for domestic flights. Book your domestic flight tickets in advance to get the best airfares." />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="Cheap domestic Air tickets, cheap domestic air tickets, cheap air tickets, air tickets domestic, cheap flights, air fares, flight tickets, cheap air fares booking" />


  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://d2w5af8s1781.cloudfront.net/waytogo-staging/stylesheets/jquery-ui.min.css"/>
  <link rel="stylesheet" href="https://d2w5af8s1781.cloudfront.net/waytogo-staging/stylesheets/ct_style.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <link rel="canonical" href="https://www.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html">
  <link rel="shortcut icon" href='https://d2w5af8s1781.cloudfront.net/waytogo-staging/images/cleartrip32x32.ico'>
  <link rel="apple-touch-icon" href='https://d2w5af8s1781.cloudfront.net/waytogo-staging/images/57x57.png'>
  <link rel="apple-touch-icon" sizes="72x72" href='https://d2w5af8s1781.cloudfront.net/waytogo-staging/images/72x72.png' >
  <link rel="apple-touch-icon" sizes="114x114" href='https://d2w5af8s1781.cloudfront.net/waytogo-staging/images/114x114.png'>

    <link rel="alternate" hreflang="en-kw" href="https://kw.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="ar-kw" href="https://kw.cleartrip.com/ar/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="en-qa" href="https://qa.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="ar-qa" href="https://qa.cleartrip.com/ar/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="en-in" href="https://www.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="hi-in" href="https://www.cleartrip.com/flight-tickets/hi/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="en-ae" href="https://www.cleartrip.ae/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="ar-ae" href="https://www.cleartrip.ae/ar/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="en-bh" href="https://bh.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="ar-bh" href="https://bh.cleartrip.com/ar/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="en-om" href="https://om.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="ar-om" href="https://om.cleartrip.com/ar/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="en-sa" href="https://www.cleartrip.sa/flight-tickets/cheap-flight-air-tickets-domestic.html">
    <link rel="alternate" hreflang="ar-sa" href="https://www.cleartrip.sa/ar/flight-tickets/cheap-flight-air-tickets-domestic.html">
  <script type="text/javascript">
    var lang = {"calender":{"airfare":"Airfare Calendar","today":"Today","cheapest":"Cheapest","calendar_note":"Note: Cleartrip Lowest Air Fares Calendar provides an indication of prices (per person) for a range of dates, so that you can see the cheapest air fares easily. The air fares you see here may not be available at the time you try and book."},"flight_schedule":{"mo":"Mo","tu":"Tu","we":"We","th":"Th","fr":"Fr","sa":"Sa","su":"Su"},"currency":"Rs.","month":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]};
    var country_code='in';
    var section_type='domestic';
    var page_type="flight-ticket";
    var language_type = "en";
  </script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/date_format.js"></script>

  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/ct_custom.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/banner.js"></script>
  <!-- Crazyegg Tracking Code for cleartrip.com -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0011/6454.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
 
<!-- Hotjar Tracking Code for cleartrip.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:332967,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>bazadebezolkohpepadr="1883127289"</script><script type="text/javascript" src="https://www.cleartrip.com/akam/10/703e3e4e" defer></script></head>
<body>
          <section id="flights-nav">
  <div class="container-fluid">
		<div class="ctCol ctProducts mview-header">
			<a class="ctBrand" href="/">
				<span class="cleartripLogo" title="Homepage">Home</span>
			</a>
			<ul class="productLinks hasProductIcons">
				<li class="flightApp">
					<a rel="bToolTip" href="/flights">
						<span class="productIcon flights">Flights</span>
					</a>
				</li>
				<li class="hotelApp">
					<a rel="bToolTip" href="/hotels">
						<span class="productIcon hotels"> Hotels</span>
					</a>
				</li>
				<li class="packagesApp">
					<a rel="bToolTip"  href="/packages">
						<span class="productIcon packages">Packages</span>
					</a>
				</li>
				<li class="trainsApp">
					<a rel="bToolTip" title="Trains" href="/trains">
						<span class="productIcon trains">Trains</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="ctCol ctCenter mview-center">&nbsp;</div>

  </div>
	<div class="clearfix"></div>
</section>
<div class="clearfix"></div>

  <div class="clearfix"></div>
  <!--/contnet Starts Here-->
  <section id="content">
    <div class="container-fluid">
      <ul class="list-inline bread-crumb" section-type="international">
         <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb" class="first"><a href="/flights" title="Cheap Flights to your destination" itemprop="url">
            <span itemprop="title">Flights</span>
            </a>
            </li>
            <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
            <span itemprop="title" class="first">Domestic Cheap Air Tickets</span>
            </li>
      </ul>
<h1>Cheap domestic air tickets</h1>


 

 <div class="clearfix"></div>
            
<div id="search-widget">
        <form action="/flights/search" errorblockid="flt_err" id="AirSearch" class="search no-action-change removeSelflabels" method="get" target="_blank">
          <ul class="list-inline trip-type">
            <li>
              <label class="encaps" for="rnd_trip">
                <input type="radio" value="R" checked name="rnd_one" id="rnd_trip">
                <strong>Round trip</strong>
              </label>
            </li>
            <li>
              <label class="encaps" for="one_way">
                <input type="radio" value="O" name="rnd_one" id="one_way">
                <strong>One way</strong></label>
              </li>
            </ul>
            <ul class="list-inline search-bar">
              <li class="search-mview">
                <label class="required" for="origin_autocomplete">From 
                  <span class="weak">(any worldwide city or airport)</span>
                </label>
                <input type="text" selflabel="Enter a city or airport" id="origin_autocomplete" autocomplete="off">
                <input type="hidden" name="from" id="from">
              </li>
              <li class="search-mview">
                <label class="required" for="destination_autocomplete">To 
                  <span class="weak">(any worldwide city or airport)</span>
                </label>
                <input type="text" selflabel="Enter a city or airport" id="destination_autocomplete">
                <input type="hidden" name="to" id="to" value="">
              </li>
              <li class="date">
                <label class="required" for="dpt_date">Depart on</label>
                <span class="enclosedPicker">
                  <input readonly="readonly" type="text" size="10" autocomplete="off" id="dpt_date" title="Departure date" name="depart_date" class="datePicker required selflabel" >
                </span>
              </li>
              <li  class="date" id="returnDateSec">
                <label class="required" for="rtn_date">Return on</label>
                <span class="enclosedPicker">
                  <input readonly="readonly" type="text" size="10" id="rtn_date" autocomplete="off" mindatefieldid="dpt_date" title="Return date" name="return_date" class="datePicker second required no_autochange selflabel disabled" >
                </span>
              </li>
              <div class="clearfix mobile-widget-clear"></div>
              <li class="travellers">
                <label class="required" for="adults">Adults</label>
                <select size="1" name="adults" id="adults">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                </select>
                <span class="weak">> 12 yrs</span>
              </li>
              <li class="travellers">
                <label for="children">Children</label>
                <select size="1" name="childs" id="children">
                  <option value="0" selected="selected">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
                <span class="weak">2-12 yrs</span>
              </li>
              <li class="travellers">
                <label for="infants">Infants</label>
                <select size="1" name="infants" id="infants">
                  <option value="0" selected="selected">0</option>
                  <option value="1">1</option>
                </select>
                <span class="weak">< 2 yrs</span>
              </li>
              <li class="search-mview">
                <button type="submit" id="button_flight_search" title="Search" class="booking" >Search flights</button>
              </li>
            </ul>
          </form>
      </div><!--/search-widget-->


      
      <div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero airport-page" id="flight-schedule">
        <div class="list-box">
      <div class="content-desc airport-information no-padding">
          
  <h2>Why is domestic flight the best way to travel?</h2>

<p>Nowadays, travelling by air within India has become quite popular among masses. There are many reasons for the increasing popularity of domestic flights.</p> 

<p><b>1. Safety:</b> Flying is a safe mode of travel due to tight security and use of the latest technology. On a daily basis, there are more than one lakh flights scheduled across the world; and fortunately, there are hardly any accidents in months. Flights are secure, and there is no chance of burglary, robbery or theft due to high-security measures undertaken. </p>

<p><b>2. Cheap flight air tickets:</b> With high competition among private airlines, the end user is enjoying attractive deals and offers on both domestic and international flights. In fact, you will be surprised at the low airfares these days. Moreover, airlines also offer various rewards programs and special benefits to end users.</p>

<p><b>3.Fastest mode of travel:</b> If you are short on time, then flights obviously are the best way to travel. You can select the flight timings as per your convenience. For example, if you don’t want to travel during the day, you can book a flight that will drop you early morning or late night.</p> 

<p>4.<b> Entertainment:</b>Few domestic airlines have introduced in-flight entertainment option that is an app-based system using which you can enjoy watching streaming videos on smart phones, tablets and laptops. For this, travellers need to download an app for access to video and audio content in airplane mode.</p>

<h2>How to check cheap airfare offers</h2>

<p>You can book airline tickets using the official website of airlines, travel agents and OTA i.e. online travel agency like Cleartrip.  You will find different offers on same flights on different platforms. You can choose the one you like the most and book the ticket.</p> 

<h2>Advantages of OTA (Online Travel Agency)</h2> 
<p>OTA stands for the online travel agency that sells travel packages on behalf of airlines, hotels, car and taxi rentals, cruise lines, and railways. They also sell local sightseeing, adventure and other activity packages.  OTAs are completely dedicated to travel and provide all the solutions related to travel planning and booking. It either uses a database of major common reservation systems or an online travel software that allows visitors to compare the rates of flights and hotels to give more flexibility in search and bookings of tickets. You can book these tickets via phone.  When you cancel your booked ticket on OTA, you get back your refund within 24 hours whereas in other platforms period can exceed from 48 hours to 7 working days. It guarantees you a risk-free booking, and this is applicable globally without any exception.  It is easy to use and cheap in comparison to other booking avenues.</p>

<h2>How to get the cheaper domestic flight airfares</h2>

At Cleartrip, we are an old player in the field and know well about various factors that affect flight ticket prices. Moreover, we are a one-stop platform where travellers can check and compare prices of all airlines and book online after making a suitable selection. You also don't need to visit several OTAs or individual airlines' websites for comparing flight ticket prices. Apart from this, we also help with train tickets booking, hotel booking, car rental booking and booking local activities packages. So, we are a complete travel planning and booking solution. Here are a few tips to get cheap domestic flight ticket.
<ul>

<li>You can get your tickets at much cheaper rates if you book them 3 months in advance. Alternatively, you can follow a golden rule of minimum 8 days advance booking to avail the best rebates on air tickets.</li>

<li>Flight rates during holiday and festive seasons are much higher so if you need to travel during such period book tickets in advance as some flights are cheaper on weekdays.</li>

<li>You might have observed that sometimes after searching for same flights repeatedly for a few times, flight rates become higher. This is because of multiple searches; thus always search for flight in an incognito window or private browsing mode.</li>

<li>You can get good discounts if you book your tickets through OTA since they have tie-ups with various airlines.</li>

</ul>

<h2>Top 5 Domestic Holiday Destinations –Jaipur, Manali, Goa, Coorg, Mussourie</h2>

<p>When you plan your holiday with the help of Cleartrip, you can surely look forward to having an out of the world experience. We help you create a treasure-trove of memories on your holiday trip. You will not miss out any fun thing to do when on a holiday.</p>  

<ul>
<li>Jaipur is a timeless city where a colourful amalgamation of old and new mingles beautifully. You can explore various forts, monuments, camel safari, go shopping and eat amazing food.  Check out things to do in Jaipur.</li>
<li>In Manali, you can enjoy nature, mountains, greenery, waterfall and peaceful weather. In winters, snow is a major attraction here.  Check out things to do in Manali.</li>
<li>Goa has become one of the fascinating holiday destinations, you can enjoy beaches, water sports, natural beauty, casinos, kayaking and camping. Check out things to do in Goa.</li>
<li>Coorg is a mystery land set amidst of nature has today turned into one of the most sought holiday destinations. You can enjoy nature and adventure sports, go shopping and eat multi-cuisine food. Check out things to do in Coorg.</li>
<li>Mussoorie in Uttarakhand is known as “the queen of hill stations”. If you love nature, you must visit this place once in your lifetime. Check out things to do in Mussoorie.</li>
</ul>

<h2>FAQs</h2>

<b>1. How does Cleartrip OTA offer cheap flight air tickets?</b>

<p>Cleartrip started in 2006 and is known for providing cheap domestic flight tickets. We are an online travel website for booking flights, train tickets, hotels, and car rental, etc. When a user searches on Cleartrip, we present you the cheapest deals after pulling them from multiple sources on the internet. We even offer regular Fare Alerts to help travellers stay abreast with the low air ticket deals. In 2017, Cleartrip partnered with Google for GoogleFlights that is an app for searching flights.  This has made online search for cheap air tickets easier.</p>

<b>2. How can I cancel the ticket booking through OTA?</b> 
<p>If you have booked a refundable flight you can cancel your ticket by paying the cancellation charges. If you book a non-refundable flight, you will lose all your money on cancellation.</p>

<b>3. Is it possible to transfer the ticket to someone else’s name?</b>
<p>No, you can’t transfer your ticket to anyone else nor anyone else can travel on your behalf.</p> 

<b>4. How much time will it take to get back the refund?</b>
<p>It will depend on the terms and conditions of the platform you chose to make a booking. It can take from 24 hours to 3 to 7 working days.</p> 

<b>5. How will I receive my ticket? </b>
<p>When you do online flight ticket booking, you will receive the ticket on your E-mail.</p>

<b>6. How can the payment of E-ticket be made?</b>
<p>You can pay via debit card, credit card, net banking and pay them.</p>

       
          
 <h3>Top domestic routes in India</h3>
        

        <ul class="linklist list-inline">
          <li><a href="/flight-tickets/new-delhi-mumbai-cheap-airtickets.html" title="New Delhi Mumbai Cheap Air Tickets">New Delhi Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-new-delhi-cheap-airtickets.html" title="Mumbai New Delhi Cheap Air Tickets">Mumbai New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-bangalore-cheap-airtickets.html" title="Mumbai Bangalore Cheap Air Tickets">Mumbai Bangalore Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/bangalore-mumbai-cheap-airtickets.html" title="Bangalore Mumbai Cheap Air Tickets">Bangalore Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/chennai-mumbai-cheap-airtickets.html" title="Chennai Mumbai Cheap Air Tickets">Chennai Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-chennai-cheap-airtickets.html" title="Mumbai Chennai Cheap Air Tickets">Mumbai Chennai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-bangalore-cheap-airtickets.html" title="New Delhi Bangalore Cheap Air Tickets">New Delhi Bangalore Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/bangalore-new-delhi-cheap-airtickets.html" title="Bangalore New Delhi Cheap Air Tickets">Bangalore New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/hyderabad-mumbai-cheap-airtickets.html" title="Hyderabad Mumbai Cheap Air Tickets">Hyderabad Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-kolkata-cheap-airtickets.html" title="Mumbai Kolkata Cheap Air Tickets">Mumbai Kolkata Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-hyderabad-cheap-airtickets.html" title="Mumbai Hyderabad Cheap Air Tickets">Mumbai Hyderabad Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/kolkata-mumbai-cheap-airtickets.html" title="Kolkata Mumbai Cheap Air Tickets">Kolkata Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/bangalore-chennai-cheap-airtickets.html" title="Bangalore Chennai Cheap Air Tickets">Bangalore Chennai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/chennai-new-delhi-cheap-airtickets.html" title="Chennai New Delhi Cheap Air Tickets">Chennai New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/ahmedabad-mumbai-cheap-airtickets.html" title="Ahmedabad Mumbai Cheap Air Tickets">Ahmedabad Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/chennai-bangalore-cheap-airtickets.html" title="Chennai Bangalore Cheap Air Tickets">Chennai Bangalore Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-goa-cheap-airtickets.html" title="Mumbai Goa Cheap Air Tickets">Mumbai Goa Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-ahmedabad-cheap-airtickets.html" title="Mumbai Ahmedabad Cheap Air Tickets">Mumbai Ahmedabad Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-chennai-cheap-airtickets.html" title="New Delhi Chennai Cheap Air Tickets">New Delhi Chennai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-kolkata-cheap-airtickets.html" title="New Delhi Kolkata Cheap Air Tickets">New Delhi Kolkata Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/goa-mumbai-cheap-airtickets.html" title="Goa Mumbai Cheap Air Tickets">Goa Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-hyderabad-cheap-airtickets.html" title="New Delhi Hyderabad Cheap Air Tickets">New Delhi Hyderabad Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/hyderabad-new-delhi-cheap-airtickets.html" title="Hyderabad New Delhi Cheap Air Tickets">Hyderabad New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-chandigarh-cheap-airtickets.html" title="Mumbai Chandigarh Cheap Air Tickets">Mumbai Chandigarh Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/kolkata-new-delhi-cheap-airtickets.html" title="Kolkata New Delhi Cheap Air Tickets">Kolkata New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/chandigarh-mumbai-cheap-airtickets.html" title="Chandigarh Mumbai Cheap Air Tickets">Chandigarh Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-jaipur-cheap-airtickets.html" title="Mumbai Jaipur Cheap Air Tickets">Mumbai Jaipur Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-chandigarh-cheap-airtickets.html" title="New Delhi Chandigarh Cheap Air Tickets">New Delhi Chandigarh Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/jaipur-mumbai-cheap-airtickets.html" title="Jaipur Mumbai Cheap Air Tickets">Jaipur Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/cochin-mumbai-cheap-airtickets.html" title="Cochin Mumbai Cheap Air Tickets">Cochin Mumbai Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-jaipur-cheap-airtickets.html" title="New Delhi Jaipur Cheap Air Tickets">New Delhi Jaipur Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/lucknow-new-delhi-cheap-airtickets.html" title="Lucknow New Delhi Cheap Air Tickets">Lucknow New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/jaipur-new-delhi-cheap-airtickets.html" title="Jaipur New Delhi Cheap Air Tickets">Jaipur New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/chandigarh-new-delhi-cheap-airtickets.html" title="Chandigarh New Delhi Cheap Air Tickets">Chandigarh New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-ahmedabad-cheap-airtickets.html" title="New Delhi Ahmedabad Cheap Air Tickets">New Delhi Ahmedabad Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-lucknow-cheap-airtickets.html" title="New Delhi Lucknow Cheap Air Tickets">New Delhi Lucknow Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mumbai-cochin-cheap-airtickets.html" title="Mumbai Cochin Cheap Air Tickets">Mumbai Cochin Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/mangalore-bangalore-cheap-airtickets.html" title="Mangalore Bangalore Cheap Air Tickets">Mangalore Bangalore Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-amritsar-cheap-airtickets.html" title="New Delhi Amritsar Cheap Air Tickets">New Delhi Amritsar Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/pune-new-delhi-cheap-airtickets.html" title="Pune New Delhi Cheap Air Tickets">Pune New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/bangalore-mangalore-cheap-airtickets.html" title="Bangalore Mangalore Cheap Air Tickets">Bangalore Mangalore Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/new-delhi-pune-cheap-airtickets.html" title="New Delhi Pune Cheap Air Tickets">New Delhi Pune Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/ahmedabad-new-delhi-cheap-airtickets.html" title="Ahmedabad New Delhi Cheap Air Tickets">Ahmedabad New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/amritsar-new-delhi-cheap-airtickets.html" title="Amritsar New Delhi Cheap Air Tickets">Amritsar New Delhi Cheap Air Tickets</a></li>
          <li><a href="/flight-tickets/bangalore-hyderabad-cheap-airtickets.html" title="Bangalore Hyderabad Cheap Air Tickets">Bangalore Hyderabad Cheap Air Tickets</a></li>
</ul>
<div class="clear"></div>


  

<div class="top-routes">





	<div class="pagination">
    <span class="previous_page disabled">Prev</span>
    |
    <a class="next_page" rel="next" href="cheap-flight-air-tickets-domestic-1.html">Next</a>
  </div>

</div>
           
          </div><!--content-desc-->
       
       <div class="clearfix"></div>
       </div>
      </div>




         

<div id="Rside-bar">
        <div class="col-lg-3 col-md-3 col-sm-12 pad-rzero side-bar">

<div class="blocks banner-section">
            <div id="banner">
              <a target="_blank"><img></a>
            </div>
          </div>

   <div class="blocks">
	<h2>Top Domestic Flight Schedules</h2>
	<ul class="list-unstyled top-airlines">
		<li>
			<a href="/flight-schedule/new-delhi-mumbai-flights.html">New Delhi to Mumbai Flights</a>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="/flight-schedule/mumbai-new-delhi-flights.html">Mumbai to New Delhi Flights</a>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="/flight-schedule/mumbai-bangalore-flights.html">Mumbai to Bangalore Flights</a>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="/flight-schedule/bangalore-mumbai-flights.html">Bangalore to Mumbai Flights</a>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="/flight-schedule/chennai-mumbai-flights.html">Chennai to Mumbai Flights</a>
			<div class="clearfix"></div>
		</li>
	</ul>
</div>
            <div class="blocks">
	<h2>Top Domestic Airlines</h2>
	<ul class="list-unstyled top-airlines">
		<li>
			<div class="col-xs-3 no-padding">
				<img src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/new_images/airlines/9W.png" alt="Jet Airways">
 			</div>
			<div class="col-xs-5 text-center pad-5">
				<a href="/flight-booking/jet-airways-airlines.html">Jet Airways</a>
			</div>
			<div class="col-xs-4 pad-rzero">
				<a class="booking" href="/flight-booking/jet-airways-airlines.html">Book</a>
			</div>
			<div class="clearfix"></div>
		</li>
		<li>
			<div class="col-xs-3 no-padding">
				<img src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/new_images/airlines/AI.png" alt="Air India">
 			</div>
			<div class="col-xs-5 text-center pad-5">
				<a href="/flight-booking/air-india-airlines.html">Air India</a>
			</div>
			<div class="col-xs-4 pad-rzero">
				<a class="booking" href="/flight-booking/air-india-airlines.html">Book</a>
			</div>
			<div class="clearfix"></div>
		</li>
		<li>
			<div class="col-xs-3 no-padding">
				<img src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/new_images/airlines/6E.png" alt="IndiGo">
 			</div>
			<div class="col-xs-5 text-center pad-5">
				<a href="/flight-booking/indigo-airlines.html">IndiGo</a>
			</div>
			<div class="col-xs-4 pad-rzero">
				<a class="booking" href="/flight-booking/indigo-airlines.html">Book</a>
			</div>
			<div class="clearfix"></div>
		</li>
		<li>
			<div class="col-xs-3 no-padding">
				<img src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/new_images/airlines/SG.png" alt="SpiceJet">
 			</div>
			<div class="col-xs-5 text-center pad-5">
				<a href="/flight-booking/spicejet-airlines.html">SpiceJet</a>
			</div>
			<div class="col-xs-4 pad-rzero">
				<a class="booking" href="/flight-booking/spicejet-airlines.html">Book</a>
			</div>
			<div class="clearfix"></div>
		</li>
		<li>
			<div class="col-xs-3 no-padding">
				<img src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/new_images/airlines/S2.png" alt="JetLite">
 			</div>
			<div class="col-xs-5 text-center pad-5">
				<a href="/flight-booking/jetlite-airlines.html">JetLite</a>
			</div>
			<div class="col-xs-4 pad-rzero">
				<a class="booking" href="/flight-booking/jetlite-airlines.html">Book</a>
			</div>
			<div class="clearfix"></div>
		</li>
	</ul>
</div>
 
         
       <div class="blocks banner-section">
            
  <h3>Why book with us?</h3>
  <div class="four columns alpha omega mb10"><div class="whyb offers"></div><label class="pad_left">Fabulous Offers</label><span>Get great deals on Flights &amp; Hotels for your next holiday
  <br><a class="fs12" href=https://www.cleartrip.com/offers/india>Know more &rarr;</a></span></div>
  <div class="four columns alpha omega mb10"><div class="whyb expressway"></div><label class="pad_left">Expressway</label><span>1-touch flight booking - the fastest way to book your flights.<br><a class="fs12" href="/expressway">Know more&rarr;</a></span></div>
  <!-- <div class="four columns alpha omega mb10"><div class="whyb pricewatch"></div><label class="pad_left">Price Watch</label><span>Your Money Back when the prices fall on any international flights.<br><a class="fs12" href="/pricewatch/">Know more &rarr;</a></span></div> -->
  <div class="four columns alpha omega mb10"><div class="whyb farealert"></div><label class="pad_left">Fare Alerts</label><span>Track Fare alerts before you buy and save big.<br><a class="fs12" href="/alerts">Know more &rarr;</a></span></div>
  <div class="four columns alpha omega mb10"><div class="whyb go_mobile"></div><label class="pad_left">Go Mobile</label><span>Now book flights and hotels on the go!<br><a class="fs12" href="/mobile/">Know more &rarr;</a></span></div>
  <div class="four columns alpha omega mb10"><div class="whyb quickeys"></div><label class="pad_left">Quickeys</label><span>Exclusive hotel deals at last minute.<br><a href="/quickeys/" class="fs12">Know more &rarr;</a></span></div>
          </div>
          
 <div class="clearfix"></div>
        </div><!--/banner-section-->
      </div><!--/Rside-bar-->
    </div><!-- cont-->


   <div class="clearfix"></div>
  </section><!--/contnet-->
  <!--/contnet Ends Here-->

  <div id="footer_container">
    <div id="footer">
    <div class="primarybar" style="width:100%;">


<div style="background-color:#ffffff;width:100%">
    <div class="container; width:100%">
      <div class="sixteen columns alpha; width:100%">
      
        <ul class="footerlinkssmall">
            <li>Domestic Airports :</li>
            <li> <a title="Mumbai Airports" href="/tourism/airports/mumbai-airport.html">Mumbai Airports</a> </li>
            <li> <a title="New Delhi Airports" href="/tourism/airports/new-delhi-airport.html">New Delhi Airports</a> </li>
            <li> <a title="Chennai Airports" href="/tourism/airports/chennai-airport.html">Chennai Airports</a> </li>
            <li> <a title="Hyderabad Airports" href="/tourism/airports/hyderabad-airport.html">Hyderabad Airports</a> </li>
            <li> <a title="Bangalore Airports" href="/tourism/airports/bangalore-airport.html">Bangalore Airports</a> </li>
            <li> <a title="Kolkata Airports" href="/tourism/airports/kolkata-airport.html">Kolkata Airports</a> </li>
            <li> <a title="Ahmedabad Airports" href="/tourism/airports/ahmedabad-airport.html">Ahmedabad Airports</a> </li>
            <li> <a title="Puneune Airports" href="/tourism/airports/pune-airport.html">Pune Airports</a> </li>
            <li> <a title="Goa Airports" href="/tourism/airports/goa-airport.html">Goa Airports</a> </li>
            <li> <a title="Cochin Airports" href="/tourism/airports/cochin-airport.html">Cochin Airports</a> </li>
            <li> <a title="Trivandrum Airports" href="/tourism/airports/trivandrum-airport.html">Trivandrum Airports</a> </li>
            <li> <a title="Chandigarh Airports" href="/tourism/airports/chandigarh-airport.html">Chandigarh Airports</a> </li>
            <li> <a title="Lucknow Airports" href="/tourism/airports/lucknow-airport.html">Lucknow Airports</a> </li>
            <li> <a title="Bhubaneswar Airports" href="/tourism/airports/bhubaneswar-airport.html">Bhubaneswar Airports</a> </li>
            <li> <a title="Coimbatore Airports" href="/tourism/airports/coimbatore-airport.html">Coimbatore Airports</a> </li>
        </ul>
        <ul class="footerlinkssmall">
            <li>Domestic Flights :</li>
            <li class="first"> <a title="Mumbai Delhi Flights" href="/flight-schedule/mumbai-new-delhi-flights.html">Mumbai Delhi Flights</a> </li>
            <li> <a title="Pune Delhi Flights" href="/flight-schedule/pune-new-delhi-flights.html">Pune Delhi Flights</a> </li>
            <li> <a title="Bangalore Delhi Flights" href="/flight-schedule/bangalore-new-delhi-flights.html">Bangalore Delhi Flights</a> </li>
            <li> <a title="Mumbai Bangalore Flights" href="/flight-schedule/mumbai-bangalore-flights.html">Mumbai Bangalore Flights</a> </li>
            <li> <a title="Mumbai Chennai Flights" href="/flight-schedule/mumbai-chennai-flights.html">Mumbai Chennai Flights</a> </li>
            <li> <a title="Pune Bangalore Flights" href="/flight-schedule/pune-bangalore-flights.html">Pune Bangalore Flights</a> </li>
        </ul>
        <ul class="footerlinkssmall">
            <li>Other Tools:</li>
            <li><a href="/" title="Cheap Air Tickets">Cheap Air Tickets</a></li>
            <li><a href="/flights" title="Book cheap flights for travel within India and abroad">Domestic Flights</a></li>
            <li><a href="/international-flights" title="Book cheap flights for travel within India and abroad">International Flights</a></li>
            <li><a href="/status/" title="Flight Status">Flight Status</a></li>
            <li><a href="/hotels/india/" title="Hotels">Hotels</a></li>
            <li><a href="/trains" title="IRCTC Railway Reservation">IRCTC Railway Reservation</a></li>
            <li><a href="/trains/pnr" title="Indian Railways PNR Status">Indian Railways PNR Status</a></li>
            <li><a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" title="Domestic Air Tickets">Domestic Air Tickets</a></li>
            <li><a href="/flight-schedule/flight-schedules-domestic.html" title="Domestic Flight Schedule">Domestic Flight Schedule</a></li>
            <li><a href="/flight-booking/domestic-airlines.html" title="Domestic Airlines">Domestic Airlines</a></li>
            <li><a href="/tourism/airports/" title="Domestic Airports">Domestic Airports</a></li>
            <li><a href="/flight-tickets/cheap-flight-air-tickets-international.html" title="International Air Tickets">International Air Tickets</a></li>
            <li><a href="/flight-schedule/flight-schedules-international.html" title="International Flight Schedule">International Flight Schedule</a></li>
            <li><a href="/flight-booking/international-airlines.html" title="International Airlines">International Airlines</a></li>
            <li><a href="/tourism/airports/international-airports.html" title="International Airports">International Airports</a></li>
            <li><a title="Holiday Packages" href="/tourism/packages/">Holiday Packages</a></li>
            <li><a href="/tourism/packages/international-packages.html" title="International Packages">International Packages</a></li>
            <li><a title="Bus Booking &amp;amp; Timings" href="/tourism/bus/">Bus Bookings</a></li>
            <li><a title="Train Bookings" href="/tourism/train/">Train Bookings</a></li>
            <li><a title="Train Routes" href="/tourism/train/routes/">Train Routes</a></li>
            <li><a href="/tourism/routes/" title="Travel Routes">Travel Routes</a></li>
        </ul>
        <div class="clear"></div>
        <div class="clear"></div>
        <ul class="footerlinkssmall" style="width:100%;"> <li style="width:80%">&copy;2006-2017 Cleartrip Pvt. Ltd.</li><li> <a href="/privacy-policy/">Privacy</a> </li><li> <a href="https://www.cleartrip.com/security/">Security</a> </li><li> <a href="/terms/index.shtml">Terms of Use</a> </li></ul>
      </div>
    </div>
  </div>

    </div>   </div>
  </div>
  <div class="top-btn">
    <a href="" id="back-to-top" class=""><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
  </div>
<script type="text/javascript"> setTimeout(function(){var a=document.createElement("script"); var b=document.getElementsByTagName('script')[0]; a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/6454.js"; a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1); </script>
   
    <!-- Google Analytics code -->
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8292447-1', 'auto');
  ga('send', 'pageview');

</script>

    <script>
      var _comscore = _comscore || [];
      _comscore.push({ c1: "2", c2: "7561529" });
      (function() {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
      })();
    </script>
    <noscript>
      <img src="http://b.scorecardresearch.com/p?c1=2&c2=7561529&cv=2.0&cj=1" />
    </noscript>

<script type="text/javascript">
  $( document ).ready(function() {

  var section_type = $("#main_content").attr("section-type");
   var country_type = $('#country_type').text();
  console.log("country_type" + country_type);

  if (country_type == 'AE') {
    var country_code = 'uae'
  }
  else{
    var country_code = country_type.toLowerCase();;
  }

  console.log("country_code1" + country_code);

   $.ajax({
    type: "GET",
    //dataType: 'json',
    dataType: 'jsonp',
    jsonp: false,
    jsonpCallback: 'content',
    url: 'https://s3-ap-southeast-1.amazonaws.com/waytogo-staging/tourism/banner/banner_new.json'

  })
    .done(function( data ) {
      console.log("done");


    $.each(data, function(i, s) {
      console.log('s.country_code' + s.country_code);
      console.log('country_code2' + country_code);

      if (s.country_code == country_code) {


        country_default_img = s.default_image_src
        country_default_header_sticky_html = s.default_header_html
        country_default_footer_sticky_html = s.default_footer_html

        $.each(s.section, function(i, v) {
          if (v.section_type == section_type && v.page_type == "flight-ticket"){
            if(v.banner_type == "RHS") {

             console.log(section_type);
             console.log(v.section_image_src);

            if(v.section_image_src === '') {
              default_img = country_default_img;
              $("#banner > a > img").attr('src', default_img);

            }
            else {
              source_img = v.section_image_src;
              $("#banner > a > img").attr('src',source_img);
            }


            section_image_link = v.section_image_link;
            $("#banner > a ").attr('href', section_image_link);

            //onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;OGC&#39;, &#39;Click&#39;, &#39;RHS   Packages-Dom Cross Hotel Banner 1 Click&#39;]);"

            section_click_ga_event_catgeory = v.section_click_ga_event_catgeory;
            section_click_ga_event_label = v.section_click_ga_event_label;
            section_click_ga_event_action = v.section_click_ga_event_action;

            var onclick_ga_code = "_gaq.push(['_trackEvent','"+ section_click_ga_event_catgeory +"' , '"+ section_click_ga_event_action +"', '"+ section_click_ga_event_label +"']);" ;


            $("#banner > a ").attr('onClick', onclick_ga_code);

            // onload="_gaq.push([&#39;_trackEvent&#39;, &#39;OGC&#39;, &#39;Load&#39;, &#39;RHS Packages-Dom Cross Hotel Banner 1 Load&#39;]);"

            section_load_ga_event_catgeory = v.section_load_ga_event_catgeory;
            section_load_ga_event_label = v.section_load_ga_event_label;
            section_load_ga_event_action = v.section_load_ga_event_action;

            var onload_ga_code = "_gaq.push(['_trackEvent','"+ section_load_ga_event_catgeory +"' , '"+ section_load_ga_event_action +"', '"+ section_load_ga_event_label +"']);" ;


            $("#banner > a > img").attr('onLoad', onload_ga_code);
          }


          else if(v.banner_type == 'header_sticky'){
            if(v.section_html ==='') {
              if(country_default_header_sticky_html === '')
              {
                console.log('display nothing');
                $('#main_containter').css('padding-top', 0);
              }
              else{
                $("#header").html(country_default_header_sticky_html);
              }

            }

            else {
              section_html = v.section_html;
              $("#header").html(section_html);
            }
          }


          else{
            if(v.banner_type == 'footer_sticky'){
              if(v.section_html ==='') {
                if(country_default_footer_sticky_html === '')
                {
                  console.log('display nothing');
                  $('#main_containter').css('padding-bottom', 0);
                }
                else {
                  $("#footer").html(country_default_footer_sticky_html);
                }
              }

              else {
                section_html = v.section_html;
                $("#footer").html(section_html);

              }
            }

        }

      }
    });

    }

    });

    })
    .fail( function(xhr, textStatus, errorThrown) {
      console.log('error');
      //console.log(xhr.responseText);
      console.log(textStatus);
    });


   });
</script>

<script src="https://seocalendar.cleartrip.com/assets/cleartrip_calendar.js" type="text/javascript"></script>


 
<noscript><img src="https://www.cleartrip.com/akam/10/pixel_703e3e4e?a=dD1hNTg0NWJhMWIyOTI5MTM3NWQ4YjcxYTYyY2M4ZjZiZmExMTExN2ZjJmpzPW9mZg==" style="visibility: hidden; position: absolute; left: -999px; top: -999px;" /></noscript></body>
</html>